#authentication_page {
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    padding: 10px;
    width: 290px;
    margin: 0 auto 10px auto;
    text-shadow: #000000 0 1px 0;
}

#auth-title {
    font-size: 24px;
    margin-bottom: 25px;
    text-align: center;
}

#inputNameBlock {
    text-align: center;
}

input[type='radio'] {
    margin: 0 10px 0 0 ;
}

.auth-text {
    font-size: 18px;
    margin: 20px 0;
}

.nameTitleDiv {
    display: inline-block;
    width: 120px;
    text-align: left;
    padding-left: 6px;
}

.inputBlock {
    margin: 20px 0;
    text-align: center;
}

.inputData {
    display: inline;
    border: 0 solid #f7f7f7;
    background: #ebca90;
    color: #4f4942;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    padding: 8px 3px;
    margin: 0 5px 0 0 ;
    text-align: center;
    height: 25px;
}

.inputData:focus {
    background: #EEE;
}

#phoneNumber{
    width: 180px;
    font-size: 21px;
}

#optionName {
    width: 120px;
    font-size: 18px;
}

#optionSurname {
    width: 125px;
    margin: 0;
    font-size: 18px;
}

#mail {
    width: 180px;
    font-size: 14px;
}

.greenButton:hover {
    border: 0 solid #fcfcfc;
    background: #798287;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 0 0, inset rgba(255,255,255,0.4) 0 1px 0;
    color: #222;
    text-decoration: none;
    text-shadow: none;
}

.greenButton {
    border: 0 solid #447314;
    text-shadow: #31540c 0 1px 0;
    background: #6aa436;
    background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
    background: -webkit-linear-gradient(top, #8dc059, #6aa436);
    background: -moz-linear-gradient(top, #8dc059, #6aa436);
    background: -ms-linear-gradient(top, #8dc059, #6aa436);
    background: -o-linear-gradient(top, #8dc059, #6aa436);
    background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
    color: #fff;
    padding: 8px 12px;
    font-size: 16px;
    height: 41px;
    font-family: Calibri, Arial, sans-serif;
    vertical-align: top;
    cursor: pointer;
}

.savePhoneMail:active {
    text-shadow: #31540c 0 1px 0;
    border: 0 solid #447314;
    background: #8dc059;
    background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
    background: -webkit-linear-gradient(top, #6aa436, #8dc059);
    background: -moz-linear-gradient(top, #6aa436, #8dc059);
    background: -ms-linear-gradient(top, #6aa436, #8dc059);
    background: -o-linear-gradient(top, #6aa436, #8dc059);
    background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
    color: #fff;
}

#uLogin {
    margin-bottom: 10px;
    text-align: center;
}

#uLogin img {
    margin: 0 5px;
}

/*@media screen and (max-width: 400px) {*/
    /*#authentication_page {*/
        /*padding: 20px 5px;*/
    /*}*/
/*}*/