.cbp-fwslider {
	position: relative;
	/* margin: 0 0 10px; */
	overflow: hidden;
	padding: 0 0 5.5%;
}

.cbp-fwslider ul {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;
}

.cbp-fwslider ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

.cbp-fwslider ul li ,
.cbp-fwslider ul li > div {
	display: inline;
	text-align: center;
	outline: none;	
}

.cbp-fwslider ul li  {
	border: none;
	display: block;
	margin: 0 auto;
	max-width: 75%;
}

.cbp-fwslider nav span {
	position: absolute;
	top: 50%;
	width: 6.7%;
	/* height: 92%; */
	border-radius:5px;
	background: #7C8185;
	color: #fff;
	font-size: 50px;
	text-align: center;
	margin-top: -3.7%;
	/* line-height:130%; */
	/* cursor: pointer; */
	/* font-weight: normal; */
}

.cbp-fwslider nav span:hover {
	background: #378fc3;
}

.cbp-fwslider nav span.cbp-fwnext {
	right: 4%;
	border:1px solid white;
}

.cbp-fwslider nav span.cbp-fwprev {
	left: 4%;
	border:1px solid white;
}

.cbp-fwdots {
	position: absolute;
	bottom: 7%;
	white-space: nowrap;
	text-align: center;
	width: 50%;
	height:30%;
    margin-left:25%;
}

.cbp-fwdots span {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #ddd;
	margin: 11px;
	border-radius: 50%;
	cursor: pointer;
}

.cbp-fwdots span:hover {
	background: #999;
}

.cbp-fwdots span.cbp-fwcurrent {
	background: #47a3da;
	box-shadow: 0 0 0 2px #47a3da;

}
@media screen and (max-width: 2000px){
.cbp-fwslider nav span {
  top: 43%;	
}
}

@media screen and (max-width: 900px){
.cbp-fwslider ul li  {
	max-width: 100%;
}
.cbp-fwslider nav span {
  top: 40%;	
  font-size:50px;
}
.cbp-fwdots span {
	width: 13px;
	height: 13px;
	margin: 11px;
}
}
@media screen and (max-width: 665px){
.cbp-fwdots span {
	width: 10px;
	height: 10px;
}
.cbp-fwslider nav span {
  top: 35%;
  font-size:40px;
}
}
@media screen and (max-width: 540px){
.cbp-fwdots span {
	width: 6px;
	height: 6px;
	margin: 13px;
}
.cbp-fwslider nav span {
  width: 7.9%;	
  top: 30%;
  font-size:30px;
}
.cbp-fwdots span.cbp-fwcurrent {
	box-shadow: none;
}
}
@media screen and (max-width: 470px){
.cbp-fwdots span {
	display:none;
}

}
@media screen and (max-width: 350px){


}
