body{

}

.content {
    height: 66%;
}

table {
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
}

table a {
    color: #3A0000;
    text-decoration: none;
}

tr {
    height: 35px;
}

th {
    font-size: 20px;
    font-weight: normal;
    /*width: 250px;*/
    padding-bottom: 20px;
}

#th1 {
    width: 170px;
}
#th2 {
    width: 240px;
}
#th3 {
    width: 200px;
}

td {
    border-bottom: 1px solid #622;
}

th{
    color: #FFF;
}

@media screen and (max-height:570px){
    .content {
        height: auto;
    }
}
