#contacts_page {
    /*text-align: center;*/
    font-size: 18px;
    width: 320px;
    margin: 0 auto;
}

#contacts_page ul {
    list-style-type: none;
    padding-left: 10px;
    margin-top: 10px;
}

#contacts_page ul li {
    font-size: 16px;
    color: #FFF;
}

.shops span {
    float: right;
    text-decoration: underline;
    cursor: pointer;
}

/*table {*/
    /*font-size: 18px;*/
    /*text-align: left;*/
    /*margin: 20px auto;*/
/*}*/

/*tr {*/
    /*height: 35px;*/
/*}*/

/*th {*/
    /*font-size: 20px;*/
    /*color: #808080;*/
    /*padding-bottom: 30px;*/
/*}*/

/*#th1 {*/
    /*width: 220px;*/
/*}*/
/*#th2 {*/
    /*text-align: center;*/
    /*width: 260px;*/
/*}*/
/*#th3 {*/
    /*text-align: center;*/
    /*width: 160px;*/
/*}*/

/*td {*/
    /*border-bottom: 1px solid #622;*/
    /*color: #F5F5F5;*/
/*}*/

/*span.shopNames {*/
    /*text-decoration: underline;*/
    /*cursor: pointer;*/
/*}*/