.container {
	
	float:right;
	

}



.action{
	
	background:#7C8185;
	
	border-radius:2px;
	
	text-align: center;
	
	color:white;
	
	max-width:85%;
	
	margin:0 auto;
	

}



@media screen and (max-width:881px){
	


	

}


@media screen and (max-width:665px){
	


	

}


@media screen and (max-width:540px){
	


	

}
