body {
	
    font-family: 'Lato', Calibri, Arial, sans-serif;
	
    color: #47a3da;
	

}



.container {	
	float:right;
	max-width:78%;
	margin-top:2.5%;
}



.action{	
	background:#7C8185;
	border-radius:2px;
	text-align: center;
	color:white;
	max-width:80%;
	margin:0 auto;
	font-size:18pt;
}



@media screen and (max-width:881px){
	


	

}


@media screen and (max-width:665px){
	


	

}


@media screen and (max-width:540px){
	


	

}
