.authentication {
    display:block;
    margin: 10% auto 0 auto;
    width:30%;
    background-color:#DEDCDC;
}

#banner {
    text-align: center;
    margin: 20px 0;
}

.auth_input {
    width: 100%;
}

.btn{
    margin: 0;
}