#left_bar {
    width: 550px;
    float: left;
}

#left_bar ul{
    margin: 0;
    padding: 0;
}

#left_bar ul li{
    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    list-style-type: none;
    height: 80px;
    width: 160px;
    margin-right: 22px;
    margin-bottom: 25px;
    float: left;
    font-size: 2em;
    overflow: hidden;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.menu_buttons {
    cursor: pointer;
    text-align:center;
    font: 15px Calibri, Helvetica, Arial, Sans-Serif;
    text-shadow: 0 2px 3px #555;
    padding: 7px;
}

.pressed_button {
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.menu_buttons p {
    margin-bottom: 7px;
}

.menu_buttons p.amount {
    font-size: 13px;
    font-weight: normal;
}

.menu_buttons p.price {
    margin-bottom: 0;
    font-size: 16px;
}

#right_bar {
    width: 350px;
    float: right;
}

#right_bar div.blocks {
    padding: 15px;
    margin-bottom: 20px;
    font-size: 1.1em;
    text-align: center;
    text-shadow: 0 2px 3px #555;
    overflow: auto;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
}

#changePos {
    text-decoration: underline;
    cursor: pointer;
}

.selected_articles {
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    margin: 10px 0;
    padding: 4px;
    text-align: left;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.orderList_buttons {
    float:right;
}

.counter {
    display: inline-block;
    width: 30px;
    margin-right: 10px;
}

.plus, .minus, .delete{
    display: inline-block;
    background-color: #843B37;
    width: 20px;
    text-align: center;
    margin: 0 10px;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    cursor: pointer;
}

#sum {
    background-color: #E8E8E8;
    color: #541D1B;
    font-size: 1.1em;
    margin-top: 20px;
    text-align: left;
    padding: 8px;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
}

#hrivnas {
    float: right;
}

#magicButton {
    text-align: center;
    display: none;
}

#saveOrder {
    background: none repeat scroll 0 0 #AD7B05; color:#FFFFFF;
    font-size: 1.1em;
    margin: 20px 0;
    padding: 10px;
    cursor: pointer;
    width: 150px;
}

#thanks {
    display: none;
}

.important {
    font-size: 1.2em;
    color: #AD7B05;
    margin: 0;
}

#order_id {
    color: #AD7B05;
    font-size: 2em;
    margin-top: 5px;
}