#menu_page {
    display: block;
}

#menuList {
    text-align: center;
}

#menuList div.menu_buttons{
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    height: 90px;
    width: 140px;
    margin: 0 7px 10px 7px;
    overflow: hidden;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.menu_buttons:hover{
    color:#ffffff;
}

.not_pressed_button {
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.pressed_button {
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.menu_buttons p {
    margin: 5px 0;
}

.menu_buttons p.amount {
    font-size: 13px;
}

#bottom_bar {
    max-width: 350px;
    margin: 0 auto;
}

div.blocks {
    padding: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
    text-shadow: 0 2px 3px #555;
    overflow: auto;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
}

#POS {
    cursor: pointer;
}

#changePos {
    /*text-decoration: underline;*/
    display: none;
}

#menu_content_article-dummy, #ordered_articles_list-dummy {
    display: none;
}

.selected_articles {
    min-height: 25px;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    margin: 10px 0;
    padding: 4px;
    text-align: left;
    /*font-size: 16px;*/
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    position: relative;
    vertical-align: middle;
}

.selected_names {
    display: inline-block;
}

.orderList_buttons {
    /*float: right;*/
    /*height: inherit;*/
    width: 125px;
    display: inline-block;
    right: 0;
    position: absolute;
}

div.input {
    display: inline-block;
    height: 24px;
}

input.counter  {
    display: inline-block;
    width: 25px;
    height: 19px;
    font-size: 18px;
    text-align: center;
    background: #ebca90;
    color: #4F4942;
    margin: 0;
    font-family: Calibri, Arial, sans-serif;
    position: absolute;
    right: 133px;
}

input.counter:focus {
    background: #EEE;
}

.plus, .minus, .delete{
    display: inline-block;
    background-color: #843B37;
    width: 25px;
    text-align: center;
    margin: 0 6px;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    cursor: pointer;
    height: 21px;
    padding: 2px 0;
}

#sum {
    background-color: #E8E8E8;
    color: #541D1B;
    font-size: 1.1em;
    margin-top: 20px;
    text-align: left;
    padding: 8px;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
}

#money {
    float: right;
}

#magicButton {
    text-align: center;
}

#saveOrder {
    display: none;
}

#create_new_order {
    display: none;
}

#thanks, #order_urgent {
    display: none;
}

.important {
    font-size: 1.2em;
    color: #AD7B05;
    margin: 0;
}

#order_id {
    color: #AD7B05;
    font-size: 2em;
    margin: 5px;
}

@media screen and (max-width: 400px) {
    #orderList {
        padding: 10px;
    }
}







div.blocks_custom {
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    background-color:#792A26;
    width:321px;
    height:auto;
    text-shadow: 0 2px 3px #555;
    overflow: auto;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
}
.title{
    margin-left:auto;
    margin-top:0px;
    color:#fff;
    font-size:18px;

}
.position{
    margin-top:10px;
    color:#fff;
    font-size:16px;
    width: 300px;
    text-align: left;
}
.for_payment{
    margin-left:20px;
    margin-top:10px;
    color:#fff;
    font-size:18px;


}
.buttons{
    margin-top:15px;

}
.button_list{
    border: 0px solid #447314;
    text-shadow: 0px 1px 0px #31540C;
    background:-webkit-linear-gradient(center top , #8DC059, #6AA436) repeat scroll 0% 0% transparent;
    background:-moz-linear-gradient(center top , #8DC059, #6AA436) repeat scroll 0% 0% transparent;
    color: #FFF;
    padding: 8px 18px;
    font-size: 16px;
    width: 90px;
    height: 41px;
    font-family: Calibri,Arial,sans-serif;
    vertical-align: top;
    cursor: pointer;
}
.button_list:hover{
    background: -moz-linear-gradient(center top , #6e9e3d, #6AA436) repeat scroll 0% 0% transparent;
    background: -webkit-linear-gradient(center top , #6e9e3d, #6AA436) repeat scroll 0% 0% transparent;
}
.button_list:active{
    background: -moz-linear-gradient(center top , #8DC059, #6AA436) repeat scroll 0% 0% transparent;
    background:-webkit-linear-gradient(center top , #8DC059, #6AA436) repeat scroll 0% 0% transparent;

}
.radio{
    padding-top:10px;
    font-size: 14px;
    color: #FFF;
}
#bookmarks {
height: 40px;
}
.bookmark {
    float: left;
    margin-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 125px;
    text-align: center;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    color: #ccc;
}
.bookmark:hover{
    color: #fff;
    cursor: pointer;

}
.bookmarkSelected {
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 7px, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 7px, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 7px, inset rgba(255,255,255,0.4) 0 1px 0;
}
#action, #dishes{
    height: 105px;
    text-align: center;
    display: none;
}
#oa-total_text{
    color: #ccc;
}