#partners_page {
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.7;
}

#partners_info div {
    margin: 0 auto 20px;
}

#addCafe {
    padding: 10px;
    width: 290px;
    margin: 0 auto 10px;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #000000 0 1px 0;
}

#partners_header{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    color:#cccccc;
    font-family: Calibri, Arial, sans-serif;
    font-size: 14pt;
    text-align: center;
}

input.input {
    margin: 0;
    width: 270px;
    height: 30px;
    background: #ebca90;
    border:  0 solid #f7f7f7;
    font-size: 16px;
    padding: 3px 10px;
    color: #4f4942;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
}

input.input:focus {
    background: #EEEEEE;
}

.partners_labels {
    margin: 10px 0 5px;
    font-size: 18px;
}

#button_wrapper {
    text-align: center;
}

button#partnersButton {
    margin: 25px 0 15px 0;
}