.table,.navbar{
	margin-left:1%;
	width:98%;
}

.sorting {
    margin: 0 5px;
    padding: 7px;
}

#sorting1 {
    background: #98cee9;
}

#sorting2 {
    background: #f3e28a;
}

#sorting3 {
    background: #dca6a6;
}

#sorting4 {
    background: #c8ccc6;
}

#sorting5 {
    background: #b1da9f;
}

input.sorting_checkbox {
    margin-bottom: 5px;
    margin-right: 5px;
}

.search {
    padding: 0;
    width: 98%;
}

td.td_content{
    text-align: center;
}

img {
    cursor: pointer;
}

a {
    color: #333;
}

#unsuccessful_search {
    text-align: center;
    display: none;
}

.modalButtons{
	margin: 10px 0 0 5px;
}

.modal-footer{
	text-align: left; 
}

#current_status {
    margin-left: 7px;
}


@media print{
	.btn-group{
		display:none;
	}
	hr{
		display:none;
	}
}