html {
    height: 100%;
}

body{
    height: 100%;
    max-width: 1024px;
    background: #792A26;
    font-family: Calibri, Arial, sans-serif;
    color: #CCC;
    margin: 0 auto;
    cursor: default;
}

#main{
    margin: 0 auto;
    min-height:100%;
    padding: 0 3% ;
}

#adminData {
    height: 30px;
    margin-top: -30px;
    padding: 0 3%;
}

#header{
    padding-top: 10px;
    font-size: 18px;
}

#logo{
    float:left;
    margin-right: 20px;
    /*height: 80px;*/
}

img {
    height: 80px;
}

.headerLines {
    height: 40px;
    width: 100%;
    text-align: right;
    color: #CCC;
}

#contactsLink {
    margin: 0 20px;
}

.headerLinks {
    cursor: pointer;
    vertical-align: middle;
}

.headerLinks:hover {
    text-decoration: underline;
}

#customerExit{
    cursor: pointer;
    display: none;
}

#tip_line {
    height: 50px;
    margin-bottom:  5px;
    font-size: 18px;
    position: relative;
}

.pointers {
    height: inherit;
    width: 50px;
    text-align: center;
    font-size: 60px;
    line-height: 40px;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    cursor: pointer;
}

#left_pointer {
    float: left;
    margin-right: 20px;
    display: none;

}

#right_pointer {
    position: absolute;
    right: 0;
    display: inline;
}

#tip_container {
    display: inline-block;
    height: inherit;
}

#tip_text {
    height: inherit;
    vertical-align: middle;
    display: table-cell
}

.pages {
    display: none;
}

#map_canvas {
    min-height: 200px;
    width: 100%;
    margin-bottom: 10px;
    float: left;
}

.gm-style-iw {
    color: #333;
}

#appendix {
    height: 30px;
    clear: both;
}

@media screen and (max-width: 550px){
    #header{
        font-size: 14px;
    }
    #tip_line {
        font-size: 14px;
    }
    #logo {
        margin-right: 0;
    }
}

