#order_time_menu {
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    margin: 10px 0 10px 20px;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    float: left;
	padding: 10px 10px;
    font-size: 36px;
}

#order_date_menu {
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    margin: 10px 20px 10px 0;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    padding: 10px 10px;
	float: right;
}

.timeButtonsDiv {
	height: 21px;
}

.button_time_reg_up {
	width: 0;
	height: 0;
	border-left: 18px solid transparent; /* Прозрачные границы */
	border-right: 18px solid transparent; /* Прозрачные границы */
	border-bottom: 21px solid;
	border-top: 0;
	border-bottom-color: #3F1513;
	float: left;
	cursor: pointer;
}

.button_time_reg_down {
	width: 0;
	height: 0;
	border-left: 18px solid transparent; /* Прозрачные границы */
	border-right: 18px solid transparent; /* Прозрачные границы */
	border-top: 21px solid;
	border-bottom: 0;
	border-top-color: #3F1513;
	float: left;
	cursor: pointer;
}

#hoursUp {
	margin-right: 26px;
}

#hoursDown {
	margin-right: 26px;
}

/*#clockDigits {*/
	/*height: 22px;*/
	/*font-size: 36px;*/
	/*padding: 12px 0;*/
/*}*/

#order_date {
    float: left;
	font-size: 36px;
    width: 37px;
}

#order_month {
    font-size: 14px;
    font-weight: normal;
}

#order_day {
    font-size: 14px;
	font-weight: normal;
	height: 19px;
}

#monthAndDay {
	width: 62px;
	display: inline-block;
	height: 46px;
	text-align: left;
	margin-left: 5px;
}

