
#time_block {
	width: 300px;
	height: 50px;
	border: solid 1px #E8E8E8;
	float: left;
}
#order_time_menu {

	background: #843B37;
	border-radius: 6px;
	border: solid 1px #E8E8E8;
	width: 120px;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;

}
#order_time_submit {
	width: 130px;
	height: 50px;
	float: left;
	margin-left: 10px;
}

#hours {
	width: 30px;
	height: 22px;
	background: #843B37;
	border-radius: 4px;
	font-size: 24px;
	color:#E8E8E8;
	margin-left: 8px;
	margin-top: 0px;
	top: 0px;
	float: left;
	padding-left:5px;
	padding-top:5px;

}
#minutes {
	width: 30px;
	height: 22px;
	background: #843B37;
	border-radius: 4px;
	font-size: 24px;
	color:#E8E8E8;
	margin-left: 0px;
	margin-top: 0px;
	top: 2px;
	float: left;
	vertical-align: bottom;
	display:table-cell;
	padding-left:5px;
	padding-top:5px

}
#msg_time {
	height: 20px;
	width: 120px;
	margin-left: 5px;
	border: solid 1px #E8E8E8;
	float: left;
	top: 10px;
	visibility: hidden;
}

#double_dot {
	width: 10px;
	height: 28px;
	font-size: 24px;
	color:#E8E8E8;
	margin-left: 4px;
	top: 0px;
	float: left;
	padding-top:3px;
}
#button_block {
	width: 7px;
	height: 26px;	
	float:left;
}
.button_time_reg_down {
	width: 0px;
	height: 0px;
	border: 5px solid transparent; /* Прозрачные границы */
    border-top: 8px solid;
	margin-top: 1px;
	border-top-color: #541D1A;
	margin-left: 0px;
	float: left;
	cursor: pointer;
}
.button_time_reg_up {
	width: 0px;
	height: 0px;
	border: 5px solid transparent; /* Прозрачные границы */
    border-bottom: 8px solid;
	margin-top: 0px;
	margin-bottom: 2px;
	border-bottom-color: #541D1A;
	margin-left: 0px;
	float: bottom;
	cursor: pointer;
}
#hoursDown {
	
}

