
/*#time_block {*/
	/*width: 300px;*/
	/*height: 50px;*/
	/*border: solid 1px #E8E8E8;*/
	/*float: left;*/
/*}*/
#order_time_menu {
	background: #843B37;
	width: 100px;
	height: 30px;
    margin: 10px 5px;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    display: inline-block;
    float: left;
}

#order_date_menu {
    background: #843B37;
    /*width: 130px;*/
    height: 30px;
    display: inline-block;
    margin: 10px 0;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    padding: 0 7px 0 5px;
}

#order_date {
    width: 30px;
    height: 22px;
    font-size: 24px;
    margin-top: 5px;
    float: left;
    display: inline-block;
}

#order_month {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    float: left;
    margin: 8px 0 0 5px;
    height: 15px;
}

#order_day {
    display: inline-block;
    font-size: 22px;
    width: 30px;
    height: 22px;
    margin-top: 6px;
    margin-left: 3px;
}

/*#order_time_submit {*/
	/*width: 130px;*/
	/*height: 50px;*/
	/*float: left;*/
	/*margin-left: 10px;*/
/*}*/

#hours {
	width: 30px;
	height: 22px;
	/*background: #843B37;*/
	font-size: 24px;
	/*color:#CCC;*/
	margin-left: 6px;
	margin-top: 5px;
	float: left;
}

#minutes {
	width: 30px;
	height: 22px;
	/*background: #843B37;*/
	/*border-radius: 4px;*/
	font-size: 24px;
	/*color:#CCC;*/
	margin-top: 5px;
	/*top: 2px;*/
	float: left;
	vertical-align: bottom;
	display:table-cell;
}

#msg_time {
	height: 20px;
	width: 120px;
	margin-left: 5px;
	border: solid 1px #E8E8E8;
	float: left;
	top: 10px;
	visibility: hidden;
}

#double_dot {
	width: 10px;
	height: 28px;
	font-size: 24px;
	color:#CCC;
	margin-left: 4px;
	top: 0px;
	float: left;
	padding-top:3px;
}
.button_block {
	width: 7px;
	height: 26px;	
	float:left;
}
.button_time_reg_down {
	width: 0px;
	height: 0px;
	border: 5px solid transparent; /* Прозрачные границы */
    border-top: 8px solid;
	margin-top: 1px;
	border-top-color: #541D1A;
	margin-left: 0px;
	float: left;
	cursor: pointer;
}
.button_time_reg_up {
	width: 0px;
	height: 0px;
	border: 5px solid transparent; /* Прозрачные границы */
    border-bottom: 8px solid;
	margin-top: 0px;
	margin-bottom: 2px;
	border-bottom-color: #541D1A;
	margin-left: 0px;
	float: bottom;
	cursor: pointer;
}
#hoursDown {
	
}

