*{
 	margin:0;
}
body{
	height: 100%;
	background:#792A26;
}
html { height: 100% }
.main{
	max-width: 1280px;
	margin: 0 auto;
	height:100%;
}
.header{
	width:100%;
	margin-bottom:1%;
}
.left{
	float:left;
	width:25%;
	height:66%;
}
li{
	padding:3px;
}
.for-map{
	float:left;
	height:66%;
	width:46%;
}
#map_canvas { 
	height: 100%; 
	width:100%;
}
.right{
	float:left;
	width:25%;
	height:66%;
}
.bottom{
	float:left;
	margin-top:1%;
	width:100%;
	height:13%;
}
@media screen and (max-width: 881px){
	.right{
 		display:none;
	}
	.left{
	float:left;
	width:27%;
	height:66%;
	}
	.for-map{
	float:right;
	height:66%;
	width:70%;
}
@media screen and (max-width: 665px){
	.left{
	float:left;
	width:37%;
	height:66%;
	}
	.for-map{
	float:right;
	height:66%;
	width:55%;
}
@media screen and (max-width:540px){
	.left{
	float:none;
	width:100%;
	height:100%;
	}
	.for-map{
	float:none;
	height:66%;
	width:100%;
}
}
