*{
 	margin:0;
}
body{
	height: 100%;
	background:#792A26;
}
html { height: 100% }
.main{
	max-width: 1280px;
	margin: 0 auto;
	height:100%;
}
.header{
	width:100%;
}
.for-map{
	float:left;
	height:66%;
	width:100%;
	padding-top:0.5%;
}
#map_canvas { 
	height: 100%; 
	width:100%;
	border-radius:10px;
	padding-top:1%;
}

.bottom{
	float:left;
	margin-top:1%;
	width:100%;
	height:13%;
}


@media screen and (max-width: 881px){

	.for-map{
	height:66%;
	width:100%;
}

}
@media screen and (max-width: 665px){
	.for-map{	
	height:66%;
	width:100%;
}

}
@media screen and (max-width:540px){
	.for-map{
	height:66%;
	width:100%;
}
}
