body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
}

.main,
.container > header {
	width: 100%;
	max-width: 80em;
	margin: 0 auto;
}

.action{
	background:#7C8185;
	border-radius:2px;
	text-align: center;
	color:white;
	max-width:85%;
	margin:0 auto;
}

@media screen and (max-width:881px){
	.action{
		font-size:14px;
	}
}
@media screen and (max-width:665px){
	.action{
		font-size:13px;
	}
}
@media screen and (max-width:540px){
	.action{
		font-size:12px;
	}
}